header {
  position: relative;
}
.burger-menu {
  transform: translateX(-100%); /* hide menu */
  transition:  0.5s ease-in;
  position: fixed;
  right: -640px;
  width: 320px;
  height: 100vh;
  background: #292929;
  z-index: 20;
}
.active {
  right: -320px;
  transition: all 0.5s ease;
}
.burger-container {
  width: 320px;
  height: 100vh;
  margin: 0 auto;
  margin-left: 40px;
  margin-top: 235px;
}
.burger-nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  width: 243px;
  height: 327px;
  text-align: center;
}
.burger-nav-menu li {
  list-style: none;
}
.list__item a {
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 32px;
  line-height: 160%;
  color: #cdcdcd;
}
.burger-nav-menu .menu-active {
  height: 27px;
  padding-bottom: 3px;
  color: #fafafa;
  border-bottom: 3px solid #f1cdb3;
}
.hidden {
  transition: all 0.5s ease-in;
  z-index: 20;
  display: none;
}
.hidden-burger {
  z-index: 20;
}
.rotate {
  transform: rotate(90deg);
  transition:  0.4s ease-in;
}
.lock-scroll {
  overflow: hidden;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
  display: none; 
}


/* Burger Menu */
.hidden {
  display: none;
}
.burger-menu-icon {
  position: relative;
  display: flex;
  width: 30px;
  height: 22px;
  gap: 5px;
  justify-content: space-between;
  z-index: 21;
  display: none;
  cursor: pointer;
}
.burger-menu-icon span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #f1cdb3;
  z-index: 20;
}
.burger-menu-icon span:nth-child(2) {
  top: 50%;
  z-index: 20;
}
.burger-menu-icon span:nth-child(3) {
  top: 100%;
  z-index: 20;
}

@media screen and (max-width: 767px) {
.burger-menu-icon {
  display: block;
}
}